.paginationWrapper {
  display: flex;
  justify-content: center;
  user-select: none;
}

.info {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.pageItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  height: 24px;
  width: 24px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 0;
  }
}

.disabled {
  color: #b2b2b2;
}
